.right-sidebar {
    width: 300px;
    height: 100vh;
    padding: 5px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    right: -300px;
    transition: right 0.4s ease;
    z-index: 1001;
}

.right-sidebar.open {
    right: 0;
}

.toggle-button {
    position: fixed;
    top: 50%;
    right: 10px;
    border-radius: 15px 0 0 15px;
    background-color: #ffc47e;
    z-index: 1002;
}

.toggle-button:hover {
    background-color: rgb(70, 255, 138);
}

.toggle-button.open {
    right: 310px;
    transition: right 0.4s ease;
}

.toggle-button.open:hover {
    background-color: rgb(255, 79, 70);
}

.toggle-button.open-transition {
    right: 310px;
    transition: right 0.4s ease;
}

ul {
    list-style: none;
    cursor: pointer;
    padding: 0;
}

.container ul:hover {
    color: #007bff;
}

.container {
    height: 86%;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.delete {
    margin-left: auto;
}

.delete-button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.delete-button:hover {
    background-color: #f19292;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.floating-button {
    transform: translate(40%, -50%);
    transition: transform 0.3s ease;
    width: 10rem;
    height: 2rem;
    background-color: rgb(227, 224, 224);
    border-radius: 10px;
    margin: 1rem 1rem;
}

.floating-button:hover {
    background-color: rgb(70, 255, 138);
    transform: translate(40%, -50%) scale(1.1);
}

.sidebar-content {
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 10px;
    border: solid #000000;
    border-radius: 1.5%;
}

.header {
    text-align: center;
    font-size: 25px;
    background-color: #fe8e8e;
    color: #000000;
}

.close-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 37px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover {
    background-color: #f95b5b;
}

.content {
    padding: 12px;
    width: max-content;
    z-index: 1002;
}

.content li:hover {
    color: #686868;
}

.container-scrollable {
    max-height: 90%;
    overflow-y: auto;
}
